* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    background: url('../images/bg.jpg') 50% / cover no-repeat;
}

.menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 55px;
    transition: width 0.2s linear;
    -webkit-transition: width 0.2s linear;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    background-color: #f5f5f5;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.menu-wrap:hover {
    width: 130px;
}

.menu {
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 80px;
    width: 250px;
    overflow-y: auto;
}

.menu li {
    height: 42px;
    line-height: 42px;
    transition: all .14s linear;
}

.menu li:hover {
    background-color: #00bbbb;
}

.menu li:hover a {
    color: #fff;
}

.menu a {
    display: block;
    color: #8a8a8a;
    border-top: 1px solid #e9e9e9;
}

.menu i {
    display: inline-block;
    width: 55px;
    text-align: center;
    font-size: 18px;
}

.menu span {
    font-size: 14px;
}

.menu::-webkit-scrollbar-track {
    border-radius: 2px;
}

.menu::-webkit-scrollbar {
    width: 5px;
    background-color: #f7f7f7;
}

.menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bfbfbf;
}

.menu .darkerli {
    background-color: #ededed;
    text-transform: capitalize;
}

.menu .darkerlishadow {
    background-color: #ededed;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.menu .darkerlishadowdown {
    background-color: #ededed;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

.blog_body{
    width: 1100px;
    height:656px;
    margin-left: 155px;
    background: #875636;
}