<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>{% block title %}个人博客基模板{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    {% block head %}{% endblock %}

</head>

<body>

    <nav class="menu-wrap">
        <div class="menu">
            <ul>
                <li>
                    <a href="/um/main">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">首页</span>
                    </a>
                </li>
                <li>
                    <a href="/bl/jishu">
                        <i class="fa fa-desktop"></i>
                        <span class="nav-text">技术</span>
                    </a>
                </li>
                <li>
                    <a href="/bl/project">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="nav-text">项目</span>
                    </a>
                </li>
                <li>
                    <a href="/bl/book">
                        <i class="fa fa-flask"></i>
                        <span class="nav-text">荐书</span>
                    </a>
                </li>
                <li>
                    <a href="/um/life">
                        <i class="fa fa-picture-o "></i>
                        <span class="nav-text">生活</span>
                    </a>
                </li>
                <li>
                    <a href="/um/zongjie">
                        <i class="fa fa-lightbulb-o  fa-lg"></i>
                        <span class="nav-text">总结</span>
                    </a>
                </li>
                <li>
                    <a href="/um/about">
                        <i class="fa fa-glass fa-lg"></i>
                        <span class="nav-text">关于我</span>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-text">登录</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='blog_body'>
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>