{% extends "base.html" %}

{% block title %}主页{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 sy_height_1">.col-md-4</div>
        <div class="col-sm-5 sy_height_1">.col-md-4</div>
        <div class="col-sm-4 sy_height_1">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
    </div>
    <div class="row">
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
        <div class="col-sm-3 sy_height_2">.col-md-6</div>
    </div>
</div>

{% endblock %}